**/__pycache__/
*.pyc
*.pyo
outputs/
# GPT2/Cache/
*.pth
*.pkl
!Tokenizer/Cache/Tokenizers/fs_tokenizer.pkl
test_del.py
ModelSaveTestDir
unsloth_compiled_cache
Tokenizer/Cache/Tokenizers/*.txt
!Tokenizer/Cache/Tokenizers/fs_tokenizer.pkl.txt
finetuned_model/
PROJECT_REPORT.md